body, h1, h2, p {
    margin: 0;
}

h2 {
    font-style: italic;
    font-family: serif;
}

a {
    text-decoration: none;
    color: black;
}

iframe {
    width: 80vw;
    height: 50vh;
    border: 0;
}

.span {
    font-size: xx-small;
    display: inline-block;
    width: 100vw;
}

.header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.menu {
    background-color: transparent;
    border: none;
}

.menu-item {
    text-align: center;
    color: gray !important;
}

.home-image {
    background-image: url('./assets/piano.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    filter: brightness(100%);
    position: relative;
}

.home-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: serif;
    font-size: 5vh;
}

.about {
    margin-top: 3vh;
    text-align: center;
}

.place {
    margin-top: 10vh;
    text-align: center;
}

.contact {
    margin-top: 3vh;
    text-align: center;
    vertical-align: auto;
}

.form {
    width: 50%;
    display: inline-block;
}

.footer {
    background-color: white;
}

.line {
    text-align: center;
    margin-top: 3vh;
}

.line p {
    margin-bottom: 1vh;
}

.line img {
    width: 6vw !important;
    margin-bottom: 1vh;
}

.copyright {
    text-align: center;
    font-size: small;
    color: gray;
}
